{% load static %}
<footer class="bg-dark text-light mt-5">
  <div class="container py-4">
    <div class="row g-3">
      <div class="col-md">
<img src="{% static 'img/logo22.png' %}" alt="Hotel" style="height:64px; width:auto;">        <small class="d-block text-secondary">© {% now "Y" %} Pacific Reef</small>
      </div>
      <div class="col-md">
        <strong>Contacto</strong>
        <ul class="list-unstyled small mb-0">
          <li>Email: info@pacificreef.cl</li>
          <li>Tel: +56 2 1234 5678</li>
          <li id="contacto">Av. La Serena #3232, Santiago</li>
        </ul>
      </div>
      <div class="col-md">
        <strong>Acerca de</strong>
        <ul class="list-unstyled small mb-0">
          <li>Politicas y Privacidad</li>
          <li>Terminos y Condiciones </li>
          <li>Condiciones de devoluciones</li>
        </ul>
      </div>
    </div>
  </div>
</footer>